/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  outline: 0;
	font-size: 100%;
	font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: "Open Sans", "Roboto", helvetica, sans-serif;
  color: $black;
	text-decoration: none;
	line-height: 1;
	overflow-x: hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, a, textarea, select {
	font-family: "Open Sans", "Roboto", helvetica, sans-serif;
	cursor: pointer;
}

button {
	border: none;
}

button:hover, a:hover, input[type="submit"] {
	cursor: pointer;
}

button:focus, input[type="submit"]:focus {
	outline: 0;
}

input, textarea {
	cursor: text;
}

.clickable {
	cursor: pointer;
}

.errors {
  border: 1px solid $dark-orange;
  padding: 15px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.orange-button {
	background-color: $orange;
	color: $white;
	border: none;
	border-radius: 22px;
	font-size: 14px;
	font-weight: 600;
}

.orange-button:hover {
	background: $white;
	color: $orange;
	border: 2px solid $orange;
}

.orange-button[disabled] {
	background: $orange;
	color: $white;
	border: none;
	cursor: default;
}

.green-button {
	color: $white;
	font-weight: 700;
	width: auto;
	border: none;
	border-radius: 4px;
	background-color: $green;
}

.green-button:hover {
	background-color: darken($green, 10%);
}

.blue-button {
	background-color: $white;
	color: $light-blue;
	border: 2px solid $light-blue;
	border-radius: 22px;
}

.blue-button:hover {
	background: $light-blue;
	color: $white;
}

.solid-blue-button {
	font-weight: 600;
	border: none;
	border-radius: 3px;
	background: $light-blue;
	color: $white;
}

.solid-blue-button:hover {
	background-color: darken($light-blue, 10%);
}

.fa:hover {
	cursor: pointer;
}
