$event-form-side-margin: 15%;

.event-form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 75px;
  background-color: $lightest-grey;

  input, textarea, select {
    padding: 8px;
    margin: 10px 0;
    width: 60%;
    font-size: 16px;
    color: $black;
  }

  input {
    border: 1px solid $lighter-grey;
  }

  textarea {
    height: 200px;
  }

  select {
    background-color: $white;
    width: 35%;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    color: $grey;
    padding: 3px 0;
    margin: 15px $event-form-side-margin;
    border-bottom: 3px solid $light-grey;
  }

  span {
    color: $white;
    background: $light-blue;
    font-size: 34px;
    padding: 0 15px;
    margin: 10px 10px 10px 0;
  }

  input[type="submit"] {
    margin: auto;
    color: $white;
    width: auto;
    padding: 10px 20px;
    border: none;
  }

  label {
    font-weight: bold;
  }
}

.error-display {
  margin: 0 $event-form-side-margin;
  padding-bottom: 20px;
  color: $dark-orange;
  // font-weight: 600;
}

.detail-form {
  margin: 0 $event-form-side-margin;
}

.event-time, .event-form-header {
  display: flex;
  flex-direction: row;

  label {
    width: 30%;
    margin: 0 15px 0 0;

    input {
      width: 95%;
    }
  }
}

.event-form-header {
  margin: 30px 20px;
  justify-content: space-between;

  p {
    font-size: 26px;
  }

  .orange-button {
    border: 2px solid $orange;
    padding: 5px 20px;
  }
}

.divider {
  width: 100%;
  height: 50px;
  background-color: $grey;
}
