$image-height: 350px;
$image-width: 70%;
$register-height: 50px;
$event-show-border-radius: 4px;

.event-show-page {
  position: absolute;
  box-sizing: border-box;
  background-color: $lightest-grey;

  .event-backdrop {
    position: absolute;
    width: 100%;
    height: $image-height + $register-height + 20px;
    overflow: hidden;

    > img {
      -webkit-filter: blur(6px);
      object-fit: cover;
      width: 120%;
      height: 200%;
      margin: -2%;
      z-index: -10;
    }
  }
}

.event-show {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  margin: 40px 10%;
  width: 80%;
  min-width: 650px;
  border-radius: $event-show-border-radius;
  box-shadow: 0px 1px 5px $light-grey;

  .event-image, .event-digest {
    height: $image-height;
  }

  .event-image, .event-description {
    width: $image-width;
  }

  .event-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-top-left-radius: $event-show-border-radius;
      min-height: $image-height;
      width: 100%;
    }
  }

  .event-digest, .event-location {
    width: 100% - $image-width;
  }

  .event-digest {
    padding: 30px;
    background-color: $lightest-grey;
    border-top-right-radius: $event-show-border-radius;

    .digest-date {
      font-size: 18px;
      text-align: center;
      width: 30px;
    }

      > p:nth-child(2) {
      margin: 20px 0;
      font-weight: 600;
      font-size: 24px;
    }

  }

  .event-register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $register-height;
    width: 100%;
    background-color: $white;
    border: 1px solid $light-grey;
    padding: 10px 3%;

    .green-button {
      padding: 5px (79% - $image-width);
      font-size: 16px;
      font-weight: 600
    }

    .fa {
      font-size: 24px;
    }
  }

  .event-description, .event-location {
    background-color: $white;
    min-height: 330px;
  }

  .event-location {
    border-bottom-right-radius: $event-show-border-radius;
  }
  .event-description {
    border-bottom-left-radius: $event-show-border-radius;
  }
}
