$item-image-height: 150px;
$item-image-width: $item-image-height * 2;

.event-index-item {
  width: $item-image-width;
  height: $item-image-height * 2;
  display: grid;
  grid-template-rows: $item-image-height 2fr 1fr;
  grid-template-columns: $item-image-width;
  margin: 20px 10px;

  .event-item-image {
    grid-area: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 120%;
    }
  }

  .event-item-digest {
    grid-area: 2 / 1;
    background-color: grey;
  }

  .event-item-extras {
    grid-area: 3 / 1;
    background-color: $orange;
  }
}
