$event-form-side-margin: 15%;

.event-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;
  background-color: $lightest-grey;

  input, textarea, select {
    padding: 8px;
    margin: 10px 0;
    width: 60%;
    font-size: 16px;
  }

  textarea {
    height: 200px;
  }

  select {
    background-color: $white;
    width: 50%;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    color: $grey;
    padding: 3px 0;
    margin: 25px $event-form-side-margin;
    border-bottom: 3px solid $light-grey;
  }

  span {
    color: $white;
    background: $light-blue;
    font-size: 34px;
    padding: 0 15px;
    margin: 10px 10px 10px 0;
  }

  input[type="submit"] {
    margin: auto;
    color: $white;
    font-weight: bold;
    border-radius: 7px;
    width: 270px;
    background-color: $green;
  }

  label {
    font-weight: bold;
  }
}

.detail-form {
  margin: 0 $event-form-side-margin;
}

.event-time {
  display: flex;
  flex-direction: row;

  label {
    width: 35%;
    margin: 0 15px 0 0;

    input {
      width: 95%;
    }
  }
}
