$image-height: 350px;
$image-width: 70%;
$register-height: 50px;
$event-show-border-radius: 4px;
$description-padding: 35px;

.event-show-page {
  position: absolute;
  box-sizing: border-box;
  background-color: $light-grey;

  .event-backdrop {
    position: absolute;
    width: 100%;
    height: $image-height + $register-height + 20px;
    overflow: hidden;

    > img {
      -webkit-filter: blur(6px);
      object-fit: cover;
      width: 120%;
      height: 200%;
      margin: -2%;
      z-index: -10;
    }
  }
}

.event-show {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: $image-height $register-height 1fr;
  position: relative;
  z-index: 10;
  margin: 40px 10%;
  min-width: 750px;
  border-radius: $event-show-border-radius;
  box-shadow: 0px 1px 5px $light-grey;

  .event-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: $event-show-border-radius;

    img {
      min-height: $image-height;
      width: 100%;
    }
  }

  .event-digest {
    grid-area: 1 / 2;
    padding: 30px;
    background-color: $lightest-grey;
    border-top-right-radius: $event-show-border-radius;

    .digest-date {
      font-size: 18px;
      text-align: center;
      width: 30px;
    }

      > p:nth-child(2) {
      margin: 20px 0;
      font-weight: 600;
      font-size: 24px;
    }

  }

  .event-register {
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $register-height;
    background-color: $white;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding: 10px 3% 10px 20px;

    .green-button {
      padding: 5px 70px;
      font-size: 16px;
      font-weight: 600
    }

    .fa {
      font-size: 24px;
    }
  }

  .event-description, .event-location {
    background-color: $white;
    min-height: 330px;
    line-height: 1.4;
    word-spacing: 1px;

    h3 {
      font-weight: 600;
      padding: 15px 0;
    }
  }

  .event-description {
    grid-area: 3 / 1;
    padding: $description-padding 80px;
    border-bottom-left-radius: $event-show-border-radius;

    p {
      padding: 5px 0;
    }
  }

  .event-location {
    grid-area: 3 / 2;
    padding: $description-padding 15px;
    border-bottom-right-radius: $event-show-border-radius;
  }
}
