$image-height: 350px;
$image-width: 70%;
$register-height: 50px;

.event-show-page {
  position: relative;

  .event-backdrop {
    width: 100%;
    height: $image-height + $register-height + 20px;
    overflow: hidden;
    background-color: purple;

    > img {
      -webkit-filter: blur(6px);
      object-fit: cover;
      width: 120%;
      height: 200%;
      margin: -2%;
      z-index: -10;
    }
  }
}

.event-show {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  z-index: 10;
  margin: 40px 10%;
  width: 80%;
  min-width: 650px;

  .event-image, .event-digest {
    height: $image-height;
  }

  .event-image, .event-description {
    width: $image-width;
  }

  .event-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-height: $image-height;
      width: 100%;
    }
  }

  .event-digest, .event-location {
    width: 100% - $image-width;
    background-color: pink;
  }

  .event-register {
    height: $register-height;
    width: 100%;
    background-color: maroon;
  }

  .event-description, .event-location {
    min-height: 330px;
  }

  .event-location {
    background-color: orange;
  }
  .event-description {
    background-color: grey;
  }
}
