.registration-form {

  > h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}

.fa-times-circle-o {
  position: absolute;
  top: 15px;
  right: 18px;
  background-color: transparent;
}
