$input-width: 120px;
$form-width: ($input-width * 2 + 32px);
$input-height: 30px;

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: normal;
  margin-top: 40px;

  > p > a {
    color: $blue;
    text-decoration: underline;
  }

  > p {
    padding: 5px;
  }

  > ul {
    width: $form-width + $input-width;
    margin: 15px 0;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }

  input, button {
    margin: 5px 0;
    padding: 0 10px;
    width: $form-width;
    height: $input-height;
    font-size: 16px;
  }

  .orange-button {
    width: ($form-width + 20px);
  }

  p:first-of-type {
    font-size: 24px;
  }
}

.name {
  display: flex;

  label {
    padding: 0 5px;
  }

  input {
    width: $input-width;
  }
}

.fa-user-circle {
  font-size: 72px;
  color: $orange;
  margin: 15px;
}
